.hero {
  width: 100%;
  padding: 14px 0 26px;
  background: rgba(213, 238, 255, 0.3);
}

.container {
  width: var(--container);
  position: relative;
  margin: 0 auto;
  max-width: var(--tablet);
}

.text {
  font-size: var(--fs_medium);
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.54px;
  background: linear-gradient(180deg, #94bfff 0%, #5390ec 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}

.header {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 16px;
}

.swiper_wrapper {
  margin-bottom: 16px;
}

.gallery_slider {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  margin: 0 auto;
  position: relative;
  max-width: var(--mobile_xl);
  margin-bottom: 16px;
}

.slider_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.image_wrapper {
  background-color: #96969366;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  max-width: 230px;
  margin: 0 auto;
}

.prev,
.next {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  background-image: url('../../img/arrowHero.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.prev {
  transform: rotate(180deg);
}

.pagination {
  position: static !important;
  width: 125px !important;
  flex-shrink: 0;
}

.par {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.item {
  display: flex;
  gap: 12px;
}

.item_icon {
  flex-shrink: 0;
}

.item_text {
  color: #404969;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button_wrap {
  display: flex;
  align-items: center;
  gap: 13px;
}

.price_wrap {
  width: 174px;
  height: 47px;
  background: var(--main_gradient);
  border-radius: 23px;
  position: relative;
  flex-shrink: 0;
}

.styled_price {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 47px;
  background-color: #000;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0.72px;
}

.styled_price::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  display: block;
  height: 3px;
  width: 57px;
  background: #5390ec;
  border-radius: 2px;
}

.styled_price_second {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0.72px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.loader {
  width: 100%;
  height: 100%;
  background-image: var(--foreground);
  position: absolute;
  top: 0;
  left: 0;
}

.loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Медіа-запити */

@media (min-width: 768px) {
  .hero {
    padding: 60px 0 60px;
  }
  .text {
    color: #5894ed;
    font-size: var(--fs_large);
    font-style: normal;
    font-weight: 600;
    line-height: 125.5%;
    letter-spacing: 0.72px;
    margin-bottom: 25px;
  }
  .header {
    color: #404969;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 24px;
  }
  .prev,
  .next {
    width: 45px;
    height: 45px;
  }
  .par {
    text-decoration-line: none;
    color: #404969;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
  .list {
    margin-bottom: 32px;
  }
  .item_text {
    color: #404969;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 5% 0 5%;
  }
  .container {
    max-width: none;
  }
  .wrapper {
    width: 50%;
  }
  .swiper_wrapper {
    width: 48%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .gallery_slider {
    aspect-ratio: 664/601;
    max-width: 664px;
    padding: 9.54px;
    border-radius: 57.241px;
    background: #fbfbfb;
    margin-bottom: 24px;
  }
  .list {
    margin-bottom: 40px;
  }
  .button_wrap {
    gap: 20px;
  }
  .price_wrap {
    order: 1;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 43%;
  }
  .button_wrap {
    gap: 30px;
  }
  .price_wrap {
    width: 228px;
    height: 61px;
  }
  .styled_price {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.5%;
    letter-spacing: 0.96px;
    width: 117px;
    height: 61px;
  }
  .styled_price::after {
    height: 4px;
    width: 74px;
  }
  .styled_price_second {
    right: 23px;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 125.5%;
    letter-spacing: 0.96px;
  }
}

@media (min-width: 1408px) {
  .swiper_wrapper {
    top: 0;
    transform: translateY(0);
  }
  .button_wrap {
    gap: 30px;
  }
}

@media (min-width: 1410px) {
  .hero {
    padding: 158px 0 118px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: var(--desktop);
  }
}

@media (max-width: 767px) {
  .header span {
    display: none;
  }
}
