.header {
  text-align: center;
  font-size: var(--fs_xlarge);
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  margin-bottom: 12px;
}

.ico_wrap {
  display: inline-block;
}

.header_ico {
  width: 35px;
  height: 35px;
  @media (min-width: 1024px) {
    width: 65px;
    height: 65px;
  }
}

.header_text {
  text-align: center;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: 125.5%;
  margin-bottom: 40px;
}

.field {
}

.image_wrap {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.main_board {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.figures_box {
  display: flex;
  gap: 4px;
  align-items: center;
}

.figure_container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
  align-items: center;
  opacity: 0; /* Start hidden */
  transition: opacity 0.3s ease; /* Smooth transition */
}

.figure_container.visible {
  opacity: 1; /* Fade in when visible */
}

.figure_description_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.department_label {
  color: var(--second_text_color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0.36px;
  white-space: nowrap;
}

.figure {
  width: 63px;
  height: 63px;
}

.figure_rectangle {
  width: 48px;
}

.figure_description {
  color: var(--second_text_color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: 0.36px;
  max-width: 80px;
}

.btn_box {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.timer_wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.timer_button,
.record_button,
.start_button,
.stop_button,
.score_button,
.time_button {
  flex: 1;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 10.01px;
  border: 0.6px solid #000;
  background: var(--foreground);
  color: var(--second_text_color);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: -0.12px;

  & span {
    font-weight: 700;
  }

  &:hover,
  &:focus {
    box-shadow: var(--box_shadow);
  }
}

.control_wrap_main,
.control_wrap {
  flex: 1;
}

.control_wrap_main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.control_wrap {
  display: flex;
  gap: 4px;
}

.modal_wrap {
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  background: var(--foreground);
  @media (min-width: 768px) {
    border-radius: 20px;
    padding: 40px 24px;
    gap: 20px;
  }
  @media (min-width: 1024px) {
    padding: 60px 30px;
    border-radius: 30px;
    gap: 30px;
  }
}

.modal_header {
  color: var(--second_text_color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125.5%;
  @media (min-width: 1024px) {
    font-size: 36px;
  }
}

.modal_text {
  color: var(--second_text_color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125.5%;
  letter-spacing: normal;
  @media (min-width: 1024px) {
    margin-bottom: 30px;
    font-size: 36px;
  }
}

.modal_button {
  border-radius: 12px;
  border: 0.775px solid #000;
  background: var(--foreground);
  padding: 8px 16px;
  color: var(--second_text_color);
  text-align: center;
  font-size: var(--fs_xsmall);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    box-shadow: var(--box_shadow);
  }

  @media (min-width: 1024px) {
    font-size: 36px;
    line-height: 125.5%;
    border-radius: 20px;
    border: 3px solid #000;
    width: 140px;
    height: 80px;
  }
}
