.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fefefe;

  @media (min-width: 768px) {
    padding: 18px 60px;
  }

  @media (min-width: 1024px) {
    padding: 24px 80px;
  }

  @media (min-width: 1060px) {
    padding: 24px 10px;
  }

  @media (min-width: 1408px) {
    padding: 36px 5px;
    max-width: var(--desktop);
    margin: 0 auto;
  }
}

.lang_wrap {
  display: flex;
  gap: 5px;
  align-items: center;

  & > button {
    display: none;
  }

  @media (min-width: 1060px) {
    & > button {
      display: block;
      width: 140px;
      flex-shrink: 0;
      padding: 10px;
    }
  }

  @media (min-width: 1085px) {
    & > button {
      width: 160px;
    }
  }

  @media (min-width: 1150px) {
    & > button {
      width: 180px;
      padding: 12px;
    }
  }

  @media (min-width: 1328px) {
    gap: 16px;
  }
  @media (min-width: 1408px) {
    & > button {
      width: 220px;
      padding: 17px;
    }
  }
}

.nav {
  display: none;

  @media (min-width: 1060px) {
    display: block;
    flex-shrink: 0;

    & ul {
      display: flex;
      gap: 10px;

      & li {
        & a {
          font-size: var(--fs_xsmall);
          font-weight: 500;
          line-height: 1.21;
          transition: text-shadow 0.3s ease, transform 0.3s ease;
        }
      }

      & li {
        & a:hover,
        & a:focus {
          text-shadow: 0px 0 currentColor, 0px 0 currentColor;
          transform: scale(1.1);
        }
      }
    }
  }

  @media (min-width: 1250px) {
    & ul {
      gap: 17px;
      & li {
        & a {
          font-size: var(--fs_medium);
        }
      }
    }
  }
}

.logoWrap,
.logDesk {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }
}

.logoWrap {
  @media (min-width: 1024px) {
    display: none;
  }
}

.logDesk {
  @media (max-width: 1023px) {
    display: none;
  }
  @media (max-width: 1300px) {
    & svg {
      width: 125px;
      height: 40px;
    }
  }
}

.burgerWrap {
  margin-left: 14px;
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  background: var(--main_gradient);
  align-items: center;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: margin 0.3s ease;

  @media (min-width: 1060px) {
    display: none;
  }
}

.line {
  display: block;
  width: 16px;
  height: 1.6px;
  background-color: var(--background);
  border-radius: 1px;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.line:nth-child(1) {
  top: 14px;
}

.line:nth-child(2) {
  top: 19px;
}

.line:nth-child(3) {
  top: 24px;
}

.burgerOpen .line:nth-child(1) {
  transform: rotate(45deg);
  width: 20px;
  top: 18px;
}

.burgerOpen .line:nth-child(2) {
  opacity: 0;
}

.burgerOpen .line:nth-child(3) {
  width: 20px;
  transform: rotate(-45deg);
  top: 18px;
}

.burgerWrap.burgerOpen {
  border: 1px solid #ffffff;
  margin-top: 24px;
  z-index: 3;
}
