.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #fefefe;

  @media (min-width: 768px) {
    padding: 18px 60px;
  }

  @media (min-width: 1024px) {
    padding: 24px 40px;
  }

  @media (min-width: 1408px) {
    padding: 24px 80px;
  }

  @media (min-width: 1448px) {
    padding: 36px 5px;
    max-width: var(--desktop);
    margin: 0 auto;
  }
}

.lang_wrap {
  display: flex;
  gap: 14px;
  align-items: center;
}

.logo_wrap,
.logo_desk {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }
}

.logo_desk {
  @media (max-width: 1023px) {
    display: none;
  }
  @media (max-width: 1024px) {
    & svg {
      width: 125px;
      height: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .logo_wrap {
    display: none;
  }
}

.nav {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  @media (min-width: 1200px) {
    gap: 20px;
  }
  @media (min-width: 1408px) {
    gap: 32px;
  }
}

.nav_item {
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 2px 5px #1c16631a)
      drop-shadow(0px 9px 20px #1c16631f) drop-shadow(0px 16px 20px #1c16630d)
      drop-shadow(0px 37px 15px #1c166303) drop-shadow(0px 57px 16px #1c166300);
    transform: scale(1.05);
  }
}

.nav_link {
  color: #404969;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @media (min-width: 1200px) {
    font-size: 16px;
  }
  @media (min-width: 1408px) {
    font-size: 18px;
  }
}

.burger_wrap {
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  background: var(--main_gradient);
  align-items: center;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  transition: margin 0.3s ease;

  @media (min-width: 1024px) {
    display: none;
  }
}

.line {
  display: block;
  width: 16px;
  height: 1.6px;
  background-color: var(--background);
  border-radius: 1px;
  position: absolute;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.line:nth-child(1) {
  top: 14px;
}

.line:nth-child(2) {
  top: 19px;
}

.line:nth-child(3) {
  top: 24px;
}

.burger_open .line:nth-child(1) {
  transform: rotate(45deg);
  width: 20px;
  top: 18px;
}

.burger_open .line:nth-child(2) {
  opacity: 0;
}

.burger_open .line:nth-child(3) {
  width: 20px;
  transform: rotate(-45deg);
  top: 18px;
}

.burger_wrap.burger_open {
  background: transparent;
  border: 1px solid #ffffff;
  margin-top: 24px;
  z-index: 3;
}
